h1, h3{
	text-align: center;
}

.well{
	text-align: center;
	float: left;
	display: inline-block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#menu{
	width: 250px;
	float: left;
	display: inline-block;
}